# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])


letters = ('a', 'b', 'c', 'd', 'e')
print(letters[1:4])   
print(letters[:3])    
print(letters[::2])

(1, 2, 3, 4)
1
4

In [ ]:
t5[-1][0]

4

### Editing items

In [ ]:
print(t3)
# Cannot modify tuple elements because tuples are immutable
# t3[0] = 100  # This would raise TypeError

(1, 2, 3, 4)

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [ ]:
t3 = (1,2,3,4)  # Re-create t3 since it might have been deleted
print(t3)
# Note: After deleting t3, you can't print it anymore because it won't exist
del t3

(1, 2, 3, 4)

In [ ]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [ ]:
print(t5)
# Create a new tuple without the last element
t5 = t5[:-1]
print(t5)  # Print the new tuple

(1, 2, 3, (4, 5))
(1, 2, 3)

### Operations on Tuples

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [ ]:
# index
t5.index(2)

1

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 9.853569507598877
Tuple time 8.347511053085327

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 9120
Tuple size 8056

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
# Option 1: Unpack all values
a,b,c = (1,2,3)
print(a,b,c)

# Option 2: Use * to collect remaining values
# a,*b = (1,2,3)
# print(a,b)  # b will be a list containing [2,3]

1 2 3

In [ ]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))